@using System.Linq
@using Microsoft.AspNetCore.Mvc.Rendering
@using TopBeers.Util.Helper
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model TopBeers.Models.CervejariaVM
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Cervejaria</h2>

<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Fundação</th>
                <th>Opções</th>

            </tr>
        </thead>

        <tbody>
            @foreach (var cervejaria in Model.ListaCervejarias)
            {
                <tr>
                    <td scope="row"><a href="#">@cervejaria.IdCervejaria</a></td>
                    <td>@cervejaria.Nome</td>
                    <td>@cervejaria.Fundacao.ToShortDateString()</td>
                    <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editarModal">Editar</button>
                        <a href="@Url.Action("ExcluirCervejaria", "Cervejaria", new { idCervejaria = cervejaria.IdCervejaria })" class="btn btn-danger">Excluir</a>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDetalhes">Detalhar</button>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>





