@model UsuarioModel




<div class="container">
    <h1 class="text-center">Cerveja: Brahma</h1>
            <div align="center">
                <img class="card-img-top col-sm-4 col-md-3 col-lg-4 tab-content" src="~/images/brahma-logo.png" alt="Card image">
            </div>

        <h1>História</h1>
        <p>A história da marca se confunde com a da Companhia Cervejaria Brahma que a fabricava. O nome Brahma batizou diversos produtos da mesma cervejaria, tais como o Guaraná Brahma e a Brahma Extra. Com a fusão desta à Antarctica para a formação da AmBev, a marca Brahma seguiu como uma das principais a ser utilizada pela nova companhia. Porém o guaraná, mais adocicado que o Guaraná Antarctica, deixou de ser produzido, em favor do outrora concorrente.</p>
        <p>Suas campanhas de publicidade foram premiadas em diversos festivais, como o de Cannes.</p>
        <p>Sua cerveja, a partir da década de 2000 passou por um processo de internacionalização, passando a ser comercializada em trinta países, com destaque para a Bélgica, o Canadá, os Estados Unidos, a França, a Grã-Bretanha e os Países Baixos.</p>
        <p>Em 2006, a cerveja Brahma ultrapassou em vendas a holandesa Heineken, tornando-se a 5ª cerveja mais vendida do mundo.</p>

        <table class="table table-hover text-center" align="center">
            <thead>
                <tr>
                    <th scope="col">Tipo</th>
                    <th scope="col">Ano de fabricação</th>
                    <th scope="col">Teor alcoólico</th>
                    <th scope="col">Fabricante</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pilsen</td>
                    <td>1888</td>
                    <td>4,8%</td>
                    <td>AmBev</td>
                </tr>
            </tbody>
        </table>




        <form>
            <div class="form-group col-10 col-form-label">
                <label for="exampleFormControlTextarea1">Avalie</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
            </div>

            <div class="form-group text-center col-10">

                <div class="rating-container theme-krajee-fa rating-xs rating-animate"></div>
                <div class="rating-stars">
                    <span class="empty-stars">
                        <span class="star"><i class="fa fa-star-o"></i></span>
                        <span class="star"><i class="fa fa-star-o"></i></span>
                        <span class="star"><i class="fa fa-star-o"></i></span>
                        <span class="star"><i class="fa fa-star-o"></i></span>
                        <span class="star"><i class="fa fa-star-o"></i></span>
                    </span>
                    <span class="filled-stars" style="width: 0%;">
                    <div class="caption"></div>
                </div>
            </div>



            <div class="form-group">
                <div class="col-10">
                    <button type="submit" class="btn btn-success col-12 col-form-label">Enviar</button>
                </div>
            </div>
        </form>

</div>


