@model UsuarioModel




<div class="container">
    <h1 class="col-10 text-center">Cerveja: Heineken</h1>
    <div class="col-10">
        <div align="center">
            <img class="card-img-top col-sm-4 col-md-3 col-lg-2 tab-content" src="~/images/beer.jpg" alt="Card image">
        </div>
        <div class="text-center">
            <h1>Informações Gerais</h1>
            <p>Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá</p>
            <p>Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá</p>
            <p>Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá Blá</p>
        </div>
        <table class="table table-hover table-dark col-4 text-center" align="center">
            <thead>
                <tr>
                    <th scope="col">Tipo</th>
                    <th scope="col">Ano de fabricação</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pilsen</td>
                    <td>1989</td>
                </tr>
            </tbody>
        </table>
    </div>



        <form>
            <div class="form-group col-10 col-form-label">
                <label for="exampleFormControlTextarea1">Avalie</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
            </div>

            <div class="form-group text-center col-10">

                <div class="rating-container theme-krajee-fa rating-xs rating-animate"></div>
                <div class="rating-stars">
                    <span class="empty-stars">
                        <span class="star"><i class="fa fa-star-o"></i></span>
                        <span class="star"><i class="fa fa-star-o"></i></span>
                        <span class="star"><i class="fa fa-star-o"></i></span>
                        <span class="star"><i class="fa fa-star-o"></i></span>
                        <span class="star"><i class="fa fa-star-o"></i></span>
                    </span>
                    <span class="filled-stars" style="width: 0%;">
                    <div class="caption"></div>
                </div>
            </div>



            <div class="form-group">
                <div class="col-10">
                    <button type="submit" class="btn btn-success col-12 col-form-label">Enviar</button>
                </div>
            </div>
        </form>

</div>


