@model UsuarioModel
@TempData["MensagemLoginInvalido"]

<div class="container">
    <div class="col-10">
        <h1 class="text-center">13 Surpreendentes Benefícios da Cerveja com Moderação</h1>

        <p>Que o brasileiro é um povo que gosta de uma boa cerveja gelada, isso todos nós sabemos. Mas você sabia que há um bom número de benefícios da cerveja para a saúde? Isso certamente é novidade para muitas pessoas.</p>

        <p>Isso porque muitos conhecem os malefícios que o excesso da bebida pode trazer, como câncer no estômago, fígado e esôfago, formação de gordura abdominal, obesidade, efeito diurético que favorece a eliminação de vitaminas e minerais por meio da urina e o aumento de triglicérides no sangue, o que pode ser fator de risco para o surgimento de doenças no coração, sem contar com o risco de acidente de trânsito quando se dirige alcoolizado, devido à perda de reflexo que a bebida promove.</p>

        <p>No entanto, nem todo mundo comenta a respeito dos benefícios da cerveja quando a bebida é consumida com moderação e cuidado. Algumas pesquisas mostram que a cerveja não só traz alegria de estar na companhia de seu parceiro ou de compartilhar boas histórias com os amigos em uma mesa de bar. Ela ainda pode oferecer diversas e impressionantes vantagens.</p>

        <p>Reúna seus amigos para beber uma gelada, com moderação, é claro, e conte a eles quais são os surpreendentes benefícios da cerveja que você vai conferir abaixo.</p>

        <h2>Consumo moderado</h2>
        <p>Você não deve se sentir culpado em degustar, moderadamente e eventualmente, sua cervejinha gelada. Contrariando a concepção de muitos, diversas pesquisas comprovaram que o consumo eventual de cerveja pode ser conveniente para o bom funcionamento do organismo.</p>

        <p>Entretanto, repetimos mais uma vez que para isso é necessário consumir a bebida de modo bastante moderado – 350 ml para mulheres e 700 ml para homens por dia, tendo em vista que os excessos trazem sim prejuízos à saúde. Dito isso, agora vamos conhecer 14 surpreendentes benefícios da cerveja para a saúde:</p>

        <h2>1. Doenças cardíacas</h2>
        <p>Um estudo mostrou que a incidência de doenças no coração entre quem consome cerveja é menor do que entre as pessoas que bebem vinho. Pesquisadores italianos também descobriram que quem bebe cerveja moderadamente tem um risco 42% menor de desenvolver doenças cardíacas do que quem não consome a bebida.</p>

        <p>É importante ressaltar que as pessoas que consomem cerveja em excesso podem obter efeitos contrários, podendo aumentar a probabilidade de ocorrência dessas doenças.</p>

        <h2>2. Doença de Alzheimer</h2>
        <p>Outro item importante dos benefícios da cerveja é a sua capacidade de proteger contra a doença de Alzheimer. Uma pesquisa realizada no ano de 2007, na Universidade de Alcala, na Espanha, concluiu que o consumo de duas porções de cerveja por dia pode prevenir a doença de Alzheimer.</p>

        <p>É o teor de silício contido na cerveja que auxilia na proteção do cérebro contra malefícios causados por alumínio no corpo, que é apontado como uma das causas de ocorrência do mal de Alzheimer.</p>

        <h2>3. Diabetes</h2>
        <p>Cerca de 38.000 homens de meia idade que não tinham o costume de beber muita cerveja foram analisados em uma pesquisa feita por cientistas holandeses. Eles passaram a tomar porções moderadas da bebida e ao longo de quatro anos mostraram-se menos propensos a serem diagnosticados com diabetes tipo 2. Entretanto, como o consumo de cerveja não diminuiu os riscos dos homens que já tinham o costume de tomar duas cervejas por dia, o conselho de sempre continua valendo: é essencial ter moderação.</p>

        <p>O consumo leve a moderado de álcool (contido na cerveja) pode aumentar a sensibilidade à insulina, o que auxilia na prevenção de diabetes. Se você ainda precisa de mais argumentos para se convencer dos surpreendentes benefícios da cerveja, saiba que a bebida ainda é uma boa fonte de fibras solúveis, o que contribui com os efeitos de uma dieta saudável para essas pessoas que seguem uma alimentação voltada para o controle de níveis de açúcar na corrente sanguínea.</p>

        <h2>4. Previne pedras nos rins e cálculo biliar</h2>
        <p>De acordo com a Mayo Clinic, o consumo de cerveja está associado a um risco menor de desenvolvimento de cálculo biliar.</p>

        <p>Algumas pesquisas também evidenciaram que a cerveja pode reduzir o risco de desenvolvimento de pedras nos rins em até 40%. Esse benefício é justificado pelo teor de água na composição da cerveja, assim auxiliando no estímulo à urina e eliminação de toxinas prejudiciais ao organismo, favorecendo o bom funcionamento dos rins.</p>

        <h2>5. Redução de risco de Câncer</h2>
        <p>Há na cerveja um antioxidante chamado Humol. Seu nome científico é Xanthohumol, e ele é muito conhecido devido às suas propriedades anticancerígenas, que auxiliam na proteção do corpo contra a doença. No entanto, lembre-se sempre de que o excesso da bebida também pode causar a doença.</p>

        <h2>6. Colesterol</h2>
        <p>Muitas pessoas buscam diversas iniciativas para controlar os níveis de colesterol, mas elas provavelmente não sabem que a cerveja, se consumida de forma moderada, pode manter esses níveis estáveis. A cevada utilizada no processo de fabricação da bebida possui um tipo de fibra solúvel conhecida como betaglucano, que é muito eficiente na redução dos níveis de colesterol LDL, o colesterol ruim.</p>

        <h2>7. Pressão arterial</h2>
        <p>Um estudo realizado em Harvard, nos Estados Unidos, descobriu que pessoas que bebem cerveja de forma moderada possuem menor probabilidade de desenvolver problemas com pressão arterial alta se comparadas a pessoas que possuem o hábito de beber vinhos ou drinks.</p>

        <h2>8. Ossos fortes</h2>
        <p>A cerveja possui excelente percentual de silício, que é um elemento relacionado à saúde óssea. Pesquisadores da Universidade Tufts, nos Estados Unidos, descobriram que há benefícios da cerveja e do vinho para a densidade óssea do quadril. É importante ressaltar que no mesmo estudo foi verificado que aquelas pessoas que consomem quantias maiores podem estar expostas aos efeitos contrários, ou seja, à perda óssea.</p>

        <h2>9. Caspa</h2>
        <p>Os surpreendentes benefícios da cerveja também podem atingir o couro cabeludo. A bebida pode ser um tratamento natural contra caspa. Esse efeito é justificado pelo percentual de levedura de vitamina B contido na cerveja. Lavar o cabelo com uma garrafa de cerveja por duas ou três vezes por semana pode ajudar.</p>

        <p>Entretanto, antes de passar cerveja no cabelo, vale a pena pensar um pouco. A bebida até hidrata o cabelo, porém, seus efeitos são a curto prazo, que duram apenas até a próxima lavagem, além de deixar um cheiro bastante ruim no cabelo.</p>

        <h2>10. Derrames</h2>
        <p>Estudo realizado pela American Stroke Association (Associação Americana do Derrame, tradução livre) mostrou que as pessoas que bebem cerveja de forma moderada possuem um risco 50% menor de sofrer acidente vascular cerebral (AVC).</p>

        <p>A explicação é que o consumo comedido de cerveja ajuda a prevenir a formação de coágulos nas artérias, tornando-as mais flexíveis. Um AVC acontece quando um coágulo se fixa a um vaso do cérebro.</p>

        <h2>11. Estresse</h2>
        <p>entar em uma mesa, trocar ideia e beber uma cerveja com os amigos pode fazer você se esquecer da hora e relaxar um pouco, certo? Isso porque o consumo moderado de álcool pode reduzir o estresse e ansiedade, que são fatores de risco para ataques no coração.</p>

        <h2>12. Imunidade</h2>
        <p>Um ou dois copos de cerveja por dia podem ajudar a fortalecer o sistema imunológico e combater infecções. Quem chegou a essa conclusão foram os pesquisadores da Universidade de Saúde e Ciência de Oregon, nos Estados Unidos, depois de realizar um experimento com macacos.</p>

        <h2>13. Pele</h2>
        Como se não bastassem os benefícios da cerveja para a saúde dos cabelos, a cerveja também pode tornar a sua pele mais bonita. A cevada, ingrediente que dá origem à bebida, possui algumas vitaminas como a B1, a B3 e a E, além dos minerais selênio, fósforo, zinco e cobre que auxiliam na regeneração e hidratação da pele.</p>


        <small><cite>Fonte: <a href="https://www.mundoboaforma.com.br/13-surpreendentes-beneficios-da-cerveja-com-moderacao/#28XrrxXGE4seDDjb.99">Mundo boa forma</a></cite></small>
        <br>
    </div>
</div>