
<div class="container">
    <form>
        <h1 class="col-10 text-center">Cadastro</h1>
        <div class="form-group">
            <label for="nome" class="col-2 col-form-label">Nome Completo</label>
            <div class="col-10">
                <input type="text" class="form-control" id="nome" placeholder="Ex: Morena Pé de Cana">
            </div>
        </div>
        <div class="form-group">
            <label for="data" class="col-2 col-form-label">Data de Nascimento</label>
            <div class="col-10">
                <input class="form-control" type="date" value="2011-08-19" id="data">
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-2 col-form-label">Email</label>
            <div class="col-10">
                <input type="email" class="form-control" id="email" placeholder="Ex: morenapedecana@gmail.com">
            </div>
        </div>
        <div class="form-group">
            <label for="senha" class="col-2 col-form-label">Senha</label>
            <div class="col-10">
                <input class="form-control" type="password" value="123456" id="senha">
            </div>
        </div>
        <div class="form-group">
            <div class="col-10">
                <button type="submit" class="btn btn-success col-12 col-form-label">Salvar</button>
            </div>
        </div>
    </form>
</div>