@model UsuarioModel
<div class="container">
    <h1 class="text-center col-10">Fale Conosco</h1>
    <form>
        <div class="form-group col-10">
            <label for="exampleFormControlInput1">E-mail</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="mussum@cacildis.com">
        </div>
        <div class="form-group col-10">
            <label for="exampleFormControlInput2">Assunto</label>
            <input type="text" class="form-control" id="exampleFormControlInput2" placeholder="Sobre o que você quer falar?">
        </div>
        <div class="form-group col-10">
            <label for="exampleFormControlTextarea1">Deixe sua mensagem</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group col-10">
            <button type="submit" class="btn btn-primary col-2">Enviar</button>
        </div>
    </form>
</div>