@model UsuarioModel
<!-- Search Beer -->
<div class="jumbotron jumbotron-fluid">
    <h3 class="text-center">
        Pesquise a reputação da cerveja realizada pelos maiores <span class="h1">alcoólatras</span> do Brasil!</h1><br>
        <div class="input-group col-md-4" style="text-align:center; margin: 0 auto;">
            <input type="text" class="form-control" placeholder="Digite a cerveja desejada!">
            <div class="input-group-btn">
                <span class="btn btn-success">Buscar</span>
            </div>
        </div>
</div>
<!-- Search Beer -->
<!-- Cards Organize -->
<div class="container">
    @TempData["NomeUsuarioLogado"]
    @TempData["MensagemLoginInvalido"]
    <div class="card">
        <div class="card-body" style="text-align:center; margin: auto;">
            <div class="row">
                <div class="col-sm-4 col-md-3 col-lg-2">
                    <div class="card">
                        <img class="card-img-top" src="~/images/beer.jpg" alt="Card image">
                        <div class="card-body">
                            <h6 class="card-title">
                                Alguma coisa</h4>
                                <p class="card-text">Some example text.</p>
                                <a href="#" class="btn btn-primary">Ver mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2">
                    <div class="card">
                        <img class="card-img-top" src="~/images/beer.jpg" alt="Card image">
                        <div class="card-body">
                            <h6 class="card-title">
                                Alguma coisa</h4>
                                <p class="card-text">Some example text.</p>
                                <a href="#" class="btn btn-primary">Ver mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2">
                    <div class="card">
                        <img class="card-img-top" src="~/images/beer.jpg" alt="Card image">
                        <div class="card-body">
                            <h6 class="card-title">
                                Alguma coisa</h4>
                                <p class="card-text">Some example text.</p>
                                <a href="#" class="btn btn-primary">Ver mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2">
                    <div class="card">
                        <img class="card-img-top" src="~/images/beer.jpg" alt="Card image">
                        <div class="card-body">
                            <h6 class="card-title">
                                Alguma coisa</h4>
                                <p class="card-text">Some example text.</p>
                                <a href="#" class="btn btn-primary">Ver mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2">
                    <div class="card">
                        <img class="card-img-top" src="~/images/beer.jpg" alt="Card image">
                        <div class="card-body">
                            <h6 class="card-title">
                                Alguma coisa</h4>
                                <p class="card-text">Some example text.</p>
                                <a href="#" class="btn btn-primary">Ver mais</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2">
                    <div class="card">
                        <img class="card-img-top" src="~/images/beer.jpg" alt="Card image">
                        <div class="card-body">
                            <h6 class="card-title">
                                Alguma coisa</h4>
                                <p class="card-text">Some example text.</p>
                                <a href="#" class="btn btn-primary">Ver mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Cards Organize -->
