


<div class="container-fluid">
    <h3 class="text-center">Resultado da busca por <span>Heineken</span></h3>
    <br />
    
    <div class="row">
        <div class="col-md-2">
            <div class="container">
                <div class="well well-sm">
                    <h3 class="card-title text-center">Procurar</h3>
                    <div class="form-group">
                        <label for="example-text-input" class="col-form-label">Cerveja</label>
                        <input class="form-control" type="text" value="" id="">
                    </div>
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Tipo</label>
                            <select class="form-control" id="tipo">
                                <option>Pilsen</option>
                                <option>IPA</option>
                                <option>American Pale Ale</option>
                                <option>Lager</option>
                                <option>RedLager</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="customRange3">Teor Alcoólico</label>
                            <input type="range" class="custom-range" min="0" max="5" step="0.5" id="customRange3">
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlSelect2">Avaliações</label>
                            <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                <option selected>Selecione</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <button class="btn btn-primary">Filtrar</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="card container">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <div class="text-center">
                                <img class="text-center img-responsive" src="~/images/brahma-logo.png" alt="Card image" width="197px" height="166px">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title text-center">Brahma Chopp</h3>
                                <p class="card-text">A história da marca se confunde com a da Companhia Cervejaria Brahma que a fabricava. O nome Brahma batizou...</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <small class="text-muted">Nota: 9,8</small>
                                    <small class="text-muted">Teor: 5%</small>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">@Html.ActionLink("Avaliar", "Avaliar", "Home", null)</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <div class="text-center">
                                <img class="img-responsive" src="~/images/heineken-logo.png" alt="Card image" width="197px" height="166px">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title text-center">Heineken</h3>
                                <p class="card-text">A Heineken foi fundada em 16 de dezembro de 1863 por Gerard Adriaan Heineken após a aquisição da cervejaria...</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <small class="text-muted">Nota: 9,7</small>
                                    <small class="text-muted">Teor: 5%</small>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Avaliar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <div class="text-center">
                                <img class="text-center img-responsive" src="~/images/itaipava-logo.png" alt="Card image" width="197px" height="166px">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title text-center">Itaipava</h3>
                                <p class="card-text">Decorria o ano de 1993 quando um grupo de empresários se associou e decidiu comprar algumas máquinas, equipamentos...</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <small class="text-muted">Nota: 9,6</small>
                                    <small class="text-muted">Teor: 5%</small>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Avaliar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <div class="text-center">
                                <img class="text-center img-responsive" src="~/images/stellaartois-logo.png" alt="Card image" width="197px" height="166px">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title text-center">Stella Artois</h3>
                                <p class="card-text">A história de Stella Artois começa em uma pequena cervejaria na cidade de Leuven, no interior da Bélgica...</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <small class="text-muted">Nota: 9,5</small>
                                    <small class="text-muted">Teor: 4%</small>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Avaliar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <div class="text-center">
                                <img class="text-center img-responsive" src="~/images/antarctica-logo.png" alt="Card image" width="197px" height="166px">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title text-center">Antarctica</h3>
                                <p class="card-text">Em 1888 criou-se a primeira fábrica de cerveja do país com tecnologia de baixa fermentação, com uma capacidade...</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <small class="text-muted">Nota: 9,4</small>
                                    <small class="text-muted">Teor: 5%</small>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Avaliar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <div class="text-center">
                                <img class="img-responsive" src="~/images/budweiser-logo.png" alt="Card image" width="197px" height="166px">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title text-center">Budweiser</h3>
                                <p class="card-text">Tudo começou quando a cervejaria Anheuser-Busch, sediada na cidade de St. Louis, introduziu no mercado americano...</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <small class="text-muted">Nota: 9,3</small>
                                    <small class="text-muted">Teor: 5%</small>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Avaliar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 

                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <div class="text-center">
                                <img class="text-center img-responsive" src="~/images/skol-logo.png" alt="Card image" width="197px" height="166px">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title text-center">Skol</h3>
                                <p class="card-text">Skol é uma marca de cerveja de propriedade da empresa dinamarquesa Carlsberg, com licença para ser fabricada no Brasil...</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <small class="text-muted">Nota: 9,2</small>
                                    <small class="text-muted">Teor: 5%</small>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Avaliar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card mb-4 shadow-sm">
                            <div class="text-center">
                                <img class="text-center img-responsive" src="~/images/glacial-logo.png" alt="Card image" width="197px" height="166px">
                            </div>
                            <div class="card-body">
                                <h3 class="card-title text-center">Glacial</h3>
                                <p class="card-text">Fundada em 1939 a Schincariol iniciou suas atividades produzindo o refrigerante Itubaína com sabor tutti-frutti...</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <small class="text-muted">Nota: 5,0</small>
                                    <small class="text-muted">Teor: 4%</small>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Avaliar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>


    </div>











@*<div class="container text-center">
    <h1>Procurar</h1>
    <select class="form-group col-md-2">
        <option>Tipo de Cerveja</option>
    </select>


    <div class="card">
        <div class="card-body" style="text-align:center; margin: auto;">
            <div class="row">
                <div class="col-sm-4 col-md-3 col-lg-2">
                    <div class="card">
                        <img class="card-img-top" src="~/images/beer.jpg" alt="Card image">
                        <div class="card-body">
                            <h6 class="card-title">
                                Alguma coisa</h6>
                                <p class="card-text">Some example text.</p>
                                <a href="#" class="btn btn-primary">Avaliar</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2">
                    <div class="card">
                        <img class="card-img-top" src="~/images/beer.jpg" alt="Card image">
                        <div class="card-body">
                            <h6 class="card-title">
                                Alguma coisa</h4>
                                <p class="card-text">Some example text.</p>
                                <a href="#" class="btn btn-primary">Avaliar</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2">
                    <div class="card">
                        <img class="card-img-top" src="~/images/beer.jpg" alt="Card image">
                        <div class="card-body">
                            <h6 class="card-title">
                                Alguma coisa</h4>
                                <p class="card-text">Some example text.</p>
                                <a href="#" class="btn btn-primary">Avaliar</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2">
                    <div class="card">
                        <img class="card-img-top" src="~/images/beer.jpg" alt="Card image">
                        <div class="card-body">
                            <h6 class="card-title">
                                Alguma coisa</h4>
                                <p class="card-text">Some example text.</p>
                                <a href="#" class="btn btn-primary">Avaliar</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2">
                    <div class="card">
                        <img class="card-img-top" src="~/images/beer.jpg" alt="Card image">
                        <div class="card-body">
                            <h6 class="card-title">
                                Alguma coisa</h4>
                                <p class="card-text">Some example text.</p>
                                <a href="#" class="btn btn-primary">Avaliar</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2">
                    <div class="card">
                        <img class="card-img-top" src="~/images/beer.jpg" alt="Card image">
                        <div class="card-body">
                            <h6 class="card-title">
                                Alguma coisa</h4>
                                <p class="card-text">Some example text.</p>
                                <a href="#" class="btn btn-primary">Avaliar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@