@model UsuarioModel
<div class="container">
    <h1 class="col-10 text-center">Quem Somos</h1>
    <div class="col-10">
        <p>Era uma vez, um alcóolatra, que vivia bebendo sempre as cervejas das mesmas marcas: Skol, Antarctica e Brahma.</p>
        <p>Um dia, em meio a uma epifania dada a um porre de cerveja, ele descobriu um mundo onde existem mais de 12 tipos de cervejas (IPA, lager, pilsen...), e teve a ideia de construir um local em que as pessoas pudessem dar e ver opiniões de outras pessoas sobre esse mundo desconhecido, dando abertura ao projeto TopBeers.</p>
    </div>
</div>

