@model UsuarioModel
<div class="container">
    <form>
        <h1 class="col-10 text-center">Esqueci a senha</h1>
        <div class="form-group">
            <label for="email" class="col-2 col-form-label">Email</label>
            <div class="col-10">
                <input type="email" class="form-control" id="email" placeholder="Ex: morenapedecana@gmail.com">
            </div>
        </div>
        <div class="form-group">
            <div class="col-10 text-right">
                <button type="submit" class="btn btn-primary col-2 col-form-label">Enviar</button>
            </div>
        </div>
    </form>
</div>